:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --hero-button-hover: #188ce8;
  --social-link-color: #afb1b8;
  --container-border-color: #eeeeee;
  --card-set-gap: 30px;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.contacts-nav__link, .socials__list, .socials__link, .socials__link--grey, .modal__close-btn, .modal-form, .modal-form__agreement, .modal-form__label-check, .modal-form__label-check span, .features__wrap, .features__icon, .skills__label {
  display: flex;
  align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
}

.contacts-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-nav {
    display: flex;
    margin-left: auto;
  }
}

.contacts-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 250ms var(--transition-cubic);
}

.contacts-nav__link:hover, .contacts-nav__link:focus {
  color: var(--accent-color);
}

.contacts-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 0;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
  }
}

.socials__list {
  justify-content: center;
}

.socials__list--wrap {
  display: flex;
  flex-wrap: wrap;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__link {
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--social-link-color);
  transition: color 250ms var(--transition-cubic), background-color 250ms var(--transition-cubic);
}

.socials__link:hover, .socials__link:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.socials__link--grey {
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--transition-cubic);
}

.socials__icon {
  fill: currentColor;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.button__icon {
  fill: currentColor;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: rotate(-270deg) scale(0.1) skew(40deg);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  transform: translate(-50%, -50%) rotate(0) scale(1) skew(0);
  transition: transform 500ms;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  outline: none;
  background-color: var(--primary-bg-color);
  transition: color 250ms var(--transition-cubic), border-color 250ms var(--transition-cubic);
  cursor: pointer;
}

.modal__close-btn:hover, .modal__close-btn:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.close-button__icon {
  fill: currentColor;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal-form {
  flex-direction: column;
}

.modal-form__field {
  margin-bottom: 10px;
  width: 100%;
}

.modal-form__field:nth-child(4) {
  margin-bottom: 20px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__wrap {
  position: relative;
  display: block;
}

.modal-form__input {
  padding: 12px 0 12px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--transition-cubic);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: var(--title-text-color);
  transform: translateY(-50%);
  transition: fill 250ms var(--transition-cubic);
}

.modal-form__input:hover + .input__icon,
.modal-form__input:focus + .input__icon {
  fill: var(--accent-color);
}

.modal-form__text-area {
  margin: 0;
  padding: 12px 16px 12px 16px;
  width: 100%;
  height: 120px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms var(--transition-cubic);
}

@media screen and (min-width: 1200px) {
  .modal-form__text-area {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
}

.modal-form__text-area::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .modal-form__text-area::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
}

.modal-form__text-area:focus {
  border-color: var(--accent-color);
}

.modal-form__agreement {
  justify-content: center;
  margin-bottom: 30px;
}

.modal-form__label-check {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__label-check {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal-form__label-check span {
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.modal-form__check-icon {
  fill: var(--secondary-text-color);
}

.modal-form__check:focus + .modal-form__label-check span {
  border-color: var(--accent-color);
}

.modal-form__check:checked + .modal-form__label-check span {
  background-color: var(--accent-color);
  border: none;
}

.modal-form__agreement-link {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__agreement-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal-form__btn {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--transition-cubic);
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: var(--hero-button-hover);
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
  }
}

.page-header__logo--black {
  color: var(--title-text-color);
}

.menu-open-btn {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: var(--primary-bg-color);
  transition: color 250ms var(--transition-cubic);
  cursor: pointer;
}

.menu-open-btn:hover, .menu-open-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

.site-nav__item {
  position: relative;
}

.current-link::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  transition: color 250ms var(--transition-cubic);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link.current-link {
  color: var(--accent-color);
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  margin-bottom: 8px;
  padding: 0;
  border: none;
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
  transition: color 250ms var(--transition-cubic);
  cursor: pointer;
}

.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--primary-bg-color);
  transition: opacity 500ms, visibility 500ms;
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  transition: color 250ms var(--transition-cubic);
}

.mobile-menu-nav__link:hover, .mobile-menu-nav__link:focus {
  color: var(--accent-color);
}

.mobile-menu-nav__link.current-page {
  color: var(--accent-color);
}

.mobile-menu-contacts {
  margin-bottom: 64px;
}

.mobile-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.mobile-menu-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.mobile-menu-socials {
  display: flex;
}

.mobile-menu-socials__item:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.mobile-menu-socials__link::after {
  content: '';
  display: block;
  flex-shrink: 0;
  width: 1px;
  height: 22px;
  background-color: #21212133;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-overlay {
  height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--footer-bg-color);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-overlay {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-overlay {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg@2x.jpg);
  }
}

.hero__title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--transition-cubic);
}

.hero__button:hover {
  background-color: var(--hero-button-hover);
}

.features__list {
  margin-bottom: calc(-1 * var(--card-set-gap));
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
  }
}

.features__item {
  margin-bottom: var(--card-set-gap);
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
}

.features__wrap {
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: var(--card-set-gap);
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}

.features__icon {
  justify-content: center;
}

.features__label {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .features__label {
    text-align: left;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.skills {
  padding-top: 0;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .skills {
    display: none;
  }
}

.skills__title {
  margin-bottom: 50px;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(-1 * var(--card-set-gap));
}

.skills__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
}

.skills__container {
  position: relative;
  z-index: 1;
}

.skills__label {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team--bg {
  background-color: var(--secondary-bg-color);
}

.team__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team__list {
  margin-bottom: calc(-1 * var(--card-set-gap));
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
  }
}

.team__item {
  margin-bottom: var(--card-set-gap);
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
}

.crewman-card {
  padding: 30px 0 24px 0;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-bg-color);
}

@media screen and (min-width: 1200px) {
  .crewman-card {
    padding: 30px 32px;
  }
}

.crewman-card__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.crewman-card__position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__list {
  margin-bottom: calc(-1 * var(--card-set-gap));
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.clients__item {
  margin-bottom: var(--card-set-gap);
  flex-basis: calc(100% / 2 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: content;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: auto;
  height: 92px;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  color: var(--social-link-color);
  transition: color 250ms var(--transition-cubic), border-color 250ms var(--transition-cubic);
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet__container {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

.footer__logo {
  text-align: center;
  margin-bottom: 20px;
}

.footer__logo--white {
  color: var(--secondary-text-color);
}

.contacts__list {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    margin-bottom: 0;
    text-align: left;
  }
}

.contacts__item:not(:last-child) {
  display: block;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contacts__link {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--transition-cubic);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__link--white {
  color: var(--secondary-text-color);
}

.socials-contacts {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .socials-contacts {
    margin-left: 165px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .socials-contacts {
    margin-left: 70px;
  }
}

.socials-contacts__label {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .socials-contacts__label {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscription {
    margin-left: auto;
  }
}

.footer-subscription__title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .footer-subscription__title {
    text-align: left;
  }
}

.subscribe-form {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
    flex-direction: row;
  }
}

.subscribe-form__input {
  padding: 15px 15px 16px;
  margin-bottom: 20px;
  width: auto;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

@media screen and (min-width: 480px) {
  .subscribe-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    display: flex;
    align-items: center;
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--transition-cubic);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .subscribe-form__button {
    margin-left: 12px;
  }
}

.subscribe-form__button:hover, .subscribe-form__button:focus {
  background-color: var(--hero-button-hover);
}

.subscribe-form__icon {
  fill: currentColor;
  margin-left: 10px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item + .filter__item {
  margin-left: 8px;
}

.filter__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  transition: color 250ms var(--transition-cubic), background-color 250ms var(--transition-cubic), box-shadow 250ms var(--transition-cubic);
}

.filter__button:hover, .filter__button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button.button--current {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.work-examples {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.work-examples__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.work-examples__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--transition-cubic);
}

.work-examples__link:hover, .work-examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-examples__wrap {
  position: relative;
  overflow: hidden;
}

.wrap__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--transition-cubic);
}

.work-examples__link:hover .wrap__overlay {
  transform: translateY(0);
}

.work-examples__link:focus .wrap__overlay {
  transform: translateY(0);
}

.wrap__text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);
}

.wrap__container {
  padding: 20px 24px;
  box-sizing: border-box;
  border: 1px solid var(--container-border-color);
  border-top: 0;
}

.wrap__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.wrap__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
/*# sourceMappingURL=main.css.map */