@import './utils/variables';
@import './utils/hidden';
@import './utils/placeholders';
@import './utils/mixins';

@import './base/common';

@import './components/logo';
@import './components/contacts-nav';
@import './components/container';
@import './components/section';
@import './components/section-title';
@import './components/socials';
@import './components/button';
@import './components/modal-window';

@import './layout/header';
@import './layout/site-nav';
@import './layout/hero';
@import './layout/features';
@import './layout/skills';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './layout/portfolio';
