.features__list {
  margin-bottom: calc(-1 * var(--card-set-gap));
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
  }
}

.features__item {
  margin-bottom: var(--card-set-gap);
  @include tablet {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
  }

  @include desktop {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }

  // &:not(:last-child) {
  //   @media screen and (max-width: 767px) {
  //     margin-bottom: var(--card-set-gap);
  //   }
  // }
}

.features__wrap {
  @extend %flex-align;
  justify-content: center;

  width: 100%;
  height: 120px;
  margin-bottom: var(--card-set-gap);
  border-radius: 4px;

  background-color: var(--secondary-bg-color);
}

.features__icon {
  @extend %flex-align;
  justify-content: center;
}

.features__label {
  margin-bottom: 10px;

  @include font(700, 14px, 1.14, null);

  text-transform: uppercase;
  text-align: center;

  @include tablet {
    text-align: left;
  }

  color: var(--title-text-color);
}

.features__text {
  @include font(400, 14px, 1.71, null);
}
