.page-header__container {
  @extend %flex-align;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;

  &--black {
    color: var(--title-text-color);
  }
}
