.hero {
  @include mobile {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @include tablet {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  text-align: center;
}

.hero-overlay {
  @include mobile {
    max-width: 480px;
    height: 400px;
  }
  @include tablet {
    max-width: 768px;
    height: 400px;
  }
  @include desktop {
    max-width: 1600px;
    height: 600px;
  }
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--footer-bg-color);
}

.hero__title {
  @include mobile {
    width: 360px;
    @include font(900, 26px, 1.61, 0.06em);
  }
  @include tablet {
    width: 360px;
    @include font(900, 26px, 1.61, 0.06em);
  }
  @include desktop {
    width: 696px;
    @include font(900, 44px, 1.36, 0.06em);
  }

  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.hero__button {
  min-width: 200px;
  padding: 10px 32px;

  @include font(700, 16px, 1.87, 0.06em);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  transition: background-color 250ms var(--transition-cubic);

  &:hover {
    background-color: var(--hero-button-hover);
  }
}
