.filter {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-bottom: 40px;
  margin-right: -8px;

  @include tablet {
    justify-content: center;
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-right: 8px;

  &:nth-child(-n + 3) {
    margin-bottom: 15px;

    @include tablet {
      margin-bottom: 0;
    }
  }
}

.filter__button {
  padding: 6px 22px;

  @include font(500, 16px, 1.62, null);

  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);

  transition: color 250ms var(--transition-cubic),
    background-color 250ms var(--transition-cubic),
    box-shadow 250ms var(--transition-cubic);

  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__button.button--current {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.work-examples {
  margin-bottom: calc(-1 * var(--card-set-gap));
  
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
  }
}

.work-examples__item {
  margin-bottom: var(--card-set-gap);

  @include tablet {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
  }

  @include desktop {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}

.work-examples__link {
  display: flex;
  flex-direction: column;
  height: 100%;

  text-decoration: none;

  transition: box-shadow 250ms var(--transition-cubic);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.work-examples__wrap {
  position: relative;

  overflow: hidden;
}

.wrap__overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  padding: 63px 24px;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms var(--transition-cubic);

  .work-examples__link:hover & {
    transform: translateY(0);
  }

  .work-examples__link:focus & {
    transform: translateY(0);
  }
}

.wrap__text {
  @include font(null, 18px, 1.56, null);

  color: var(--secondary-text-color);
}

.wrap__container {
  flex-grow: 1;
  padding: 20px 24px;

  box-sizing: border-box;
  border: 1px solid var(--container-border-color);
  border-top: 0;
}

.wrap__title {
  margin-bottom: 4px;

  @include font(700, 18px, 2, 0.06em);

  color: var(--title-text-color);
}

.wrap__label {
  @include font(400, 16px, 1.87, null);

  color: var(--primary-text-color);
}
