.site-nav {
  display: none;
  @include tablet {
    display: flex;
  }
}

.site-nav__item {
  position: relative;
}

.current-link::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  @include font(500, 14px, 1.14, 0.02em);
  text-decoration: none;

  color: var(--title-text-color);

  transition: color 250ms var(--transition-cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link.current-link {
  color: var(--accent-color);
}
