.contacts-nav {
  // display: flex;
  // margin-left: auto;
  display: none;
}

.contacts-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav__link {
  @extend %flex-align;

  padding-top: 32px;
  padding-bottom: 32px;

  @include font(500, 14px, 1.14, 0.02em);
  text-decoration: none;

  color: var(--primary-text-color);

  transition: color 250ms var(--transition-cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
