.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  overflow-y: scroll;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: rotate(-270deg) scale(0.1) skew(40deg);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  
  padding: 40px;
  
  max-height: 100%;
  width: 100%;

  @include mobile {
    margin: 0;
    width: 450px;
    height: 609px;
  }

  @include desktop {
    min-width: 528px;
    min-height: 581px;
  }

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: var(--primary-bg-color);

  transform: translate(-50%, -50%) rotate(0) scale(1) skew(0);
  transition: transform 500ms;

  overflow: auto;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  @extend %flex-align;
  justify-content: center;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  outline: none;

  background-color: var(--primary-bg-color);

  transition: color 250ms var(--transition-cubic),
    border-color 250ms var(--transition-cubic);
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.close-button__icon {
  fill: currentColor;
}

.modal__title {
  margin-bottom: 12px;

  @include font(700, 20px, 1.5, 0.03em);

  @include desktop {
    @include font(700, 20px, 1.15, 0.03em);
  }

  text-align: center;

  color: var(--title-text-color);
}

.modal-form {
  @extend %flex-align;
  flex-direction: column;
}

.modal-form__field {
  margin-bottom: 10px;

  width: 100%;

  &:nth-child(4) {
    margin-bottom: 20px;
  }
}

.modal-form__label {
  display: block;

  margin-bottom: 4px;

  @include font(null, 12px, 1.17, 0.01em);

  color: var(--primary-text-color);
}

.modal-form__wrap {
  position: relative;
  display: block;
}

.modal-form__input {
  padding: 12px 0 12px 42px;

  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;

  transition: border-color 250ms var(--transition-cubic);

  &:focus {
    border-color: var(--accent-color);
  }
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;

  fill: var(--title-text-color);

  transform: translateY(-50%);
  transition: fill 250ms var(--transition-cubic);

  .modal-form__input:hover + &,
  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__text-area {
  margin: 0;
  padding: 12px 16px 12px 16px;

  width: 100%;
  height: 120px;

  @include font(null, 14px, 1.14, 0.01em);

  @include desktop {
    @include font(null, 12px, 1.17, 0.01em);
  }

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;

  transition: border-color 250ms var(--transition-cubic);

  &::placeholder {
    @include font(null, 14px, 1.14, 0.01em);

    @include desktop {
      @include font(null, 12px, 1.17, 0.01em);
    }

    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-form__agreement {
  @extend %flex-align;
  justify-content: center;

  margin-bottom: 30px;
}

.modal-form__label-check {
  @extend %flex-align;

  @include font(null, 12px, 1.16, 0.03em);

  @include desktop {
    @include font(null, 14px, 1.71, 0.03em);
  }
  
  color: var(--primary-text-color);
}

.modal-form__label-check span {
  @extend %flex-align;
  justify-content: center;

  margin-right: 7px;

  width: 16px;
  height: 15px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.modal-form__check-icon {
  fill: var(--secondary-text-color);
}

.modal-form__check:focus + .modal-form__label-check span {
  border-color: var(--accent-color);
}

.modal-form__check:checked + .modal-form__label-check span {
  background-color: var(--accent-color);
  border: none;
}

.modal-form__agreement-link {
  @include font(null, 12px, 1.16, 0.03em);
  
  @include desktop {
    @include font(null, 14px, 1.71, 0.03em);
  }

  color: var(--accent-color);
}

.modal-form__btn {
  width: 200px;
  height: 50px;

  font-family: inherit;
  @include font(700, 16px, 1.87, 0.06em);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  transition: background-color 250ms var(--transition-cubic);

  &:hover,
  &:focus {
    background-color: var(--hero-button-hover);
  }
}
