.section-title {
  margin-bottom: 0;

  text-align: center;
  @include font(700, 28px, 1.18, null);

  @include desktop {
    @include font(700, 36px, 1.16, null);
  }

  color: var(--title-text-color);
}
