.socials__list {
  @extend %flex-align;
  justify-content: center;

  &--wrap {
    display: flex;
    flex-wrap: wrap;
  }
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__link {
  @extend %flex-align;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: transparent;

  color: var(--social-link-color);

  transition: color 250ms var(--transition-cubic),
    background-color 250ms var(--transition-cubic);

  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
  }

  &--grey {
    @extend %flex-align;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: var(--secondary-text-color);
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms var(--transition-cubic);
  }
}

.socials__icon {
  fill: currentColor;
}
