p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;

  padding: 0;
  margin: 0;
}
